---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
const baseUrl: string = Astro.url?.pathname ?? '/';
import koblenz01 from '../../public/img/koblenz01.png';
import koblenz02 from '../../public/img/koblenz02.png';
import koblenz03 from '../../public/img/koblenz03.png';
import koblenz04 from '../../public/img/koblenz04.png';

const pageTitle = 'GOP - About Me';

const identity = {
	firstName: 'Peter',
	country: 'Spain',
	occupation: 'Technical Writer',
	hobbies: ['photography', 'birdwatching', 'baseball'],
};

const skills = ['HTML', 'CSS', 'JavaScript', 'React', 'Astro', 'Writing Docs'];

const happy = true;
const finished = false;
const goal = 3;
---

<Layout>
	<div class="mt-[5%]">
		<h1 class="mb-3 font-black tracking-tight text-txt-header ~/lg:~text-4xl/7xl">
			Sobre mi
		</h1>
		<div class="mb-3 flex-col text-txt-body ~/lg:~text-base/xl sm:columns-2">
			<p class="my-3">
				¡Hola! Soy Peter, un alemán nativo de Koblenz, apasionado por ayudarte a aprender
				alemán de forma natural y con confianza. Mi propio recorrido en el aprendizaje de
				idiomas ha moldeado mi forma de enseñar. A los 21 años me mudé a Estocolmo,
				Suecia, sin ningún conocimiento previo de sueco. A través de hablar, escuchar,
				leer y escribir, no solo dominé el idioma, sino que también me convertí en editor
				en jefe de una revista de informática sueca. Ahora, viviendo en Barcelona, he
				afrontado otro desafío lingüístico más, lo que me da una comprensión profunda de
				lo que se siente estar en tu lugar.
			</p>

			<p class="my-3">
				Creo que la mejor manera de aprender un idioma es usándolo. Mis clases se centran
				en la conversación y habilidades prácticas, con la gramática introducida de forma
				natural como parte del proceso. Cada sesión es individual y se adapta a tus
				necesidades únicas, asegurando que te sientas apoyado y empoderado en cada paso
				del camino.
			</p>
			<p class="my-3">
				Ya sea que estés preparándote para un examen, avanzando en tu carrera o
				aprendiendo por enriquecimiento personal, te ayudaré a visualizar y lograr tu
				meta: hablar alemán con fluidez, orgullo y confianza.
			</p>
			<p class="my-3 mb-10 font-semibold">¡Comencemos este viaje juntos!</p>
			<div class="">
				<Image
					src={koblenz01}
					alt="Koblenz"
					loading="lazy"
					decoding="async"
					class="border-8 border-white sm:rounded-md"
				/>
			</div>
		</div>
		<div class="sm:columns-3">
			<Image
				src={koblenz02}
				alt="Koblenz"
				loading="lazy"
				decoding="async"
				class="border-8 border-white sm:ml-6 sm:origin-top-left sm:rotate-3 sm:rounded-md"
			/>
			<Image
				src={koblenz03}
				alt="Koblenz"
				loading="lazy"
				decoding="async"
				class="my-4 border-8 border-white sm:origin-top-left sm:-rotate-6 sm:rounded-md"
			/>
			<Image
				src={koblenz04}
				alt="Koblenz"
				loading="lazy"
				decoding="async"
				class="border-8 border-white sm:-mt-16 sm:origin-top-right sm:rotate-[8deg] sm:rounded-md"
			/>
		</div>
	</div>
</Layout>

<style>
	blob_img {
		max-width: 100%;
		clip-path: circle(50%);
		shape-outside: circle(100%);
		shape-margin: 20px;
		float: right;
	}
</style>
