---
import { Icon } from 'astro-icon/components';
---

<section>
	<Icon name="fe:check-circle-o" size="1.5rem" class="text-purple-600" />
	<p>Mí número de WhatsApp es: <a href="https://wa.me/34673721006">673721006</a></p>
	<p>Mí correo electronico es: peter@kerschbaumer.es</p>
</section>
