---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import Contact from './ContactMe.astro';
import myHeroImage from '../../src/assets/hero_image_all.png';
const heroText = 'Deutsch sprechen wie ein Profi.';
import {
	Button,
	Modal,
	ModalHeader,
	ModalBody,
	ModalFooter,
} from 'free-astro-components';
---

<section class="hero-wrapper flex">
	<!-- Left Side: Text -->
	<div class="lg:-mr[5%] -mr-[20%] mt-[5%] sm:-mr-[15%] md:-mr-[10%]">
		<h1 class="font-black tracking-tight text-txt-header ~/lg:~text-4xl/7xl">
			{heroText}
		</h1>
		<p class="mt-4 font-medium text-txt-body ~/lg:~text-base/3xl">
			¡Domina el alemán como un nativo! Si buscas clases particulares personalizadas y
			flexibles, este formato es para ti. Mejora rápido en áreas clave para tu carrera,
			empleo o estudios. <span class="font-black">¡Alcanza tus metas ahora!</span>
		</p>
		<!-- Reserve button. Shown on devices bigger than sm (640px) -->
		<div class="hidden w-full p-8 sm:flex">
			<a
				href="#"
				onclick="Calendly.initPopupWidget({url: 'https://calendly.com/peter-kerschbaumer/clase-de-aleman'});return false;"
				class="w-3/4 cursor-pointer rounded-lg bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 p-2 text-center font-semibold text-white shadow-md shadow-yellow-800 hover:shadow-none sm:text-xl"
				data-modal-trigger="contact-modal">Prueba gratuida de 1 hora</a
			>
		</div>
	</div>

	<!-- Right Side: Image -->
	<div class="relative -z-10 -mr-[10%] mt-6 sm:mr-0">
		<Image
			src={myHeroImage}
			alt="Peter Kerschbaumer"
			loading="lazy"
			decoding="async"
			class="~/lg:~max-w-[14rem]/[32rem]"
		/>
	</div>
</section>
<!-- Contact button for small screens -->
<div class="flex place-items-center p-5 sm:hidden sm:items-center">
	<a
		href=""
		onclick="Calendly.initPopupWidget({url: 'https://calendly.com/peter-kerschbaumer/clase-de-aleman'});return false;"
		class=`font-semibold rounded-lg w-full cursor-pointer rounded-sm p-2 text-center bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-white shadow-md shadow-yellow-800 hover:shadow-[0px_0px_20px_5px_rgba(250,204,40,1)]`
		>Prueba gratuida de 1 hora</a
	>
</div>
<!--
<Modal id="
		modal-id">
	<ModalHeader>
		<h4>Modal Title</h4>
	</ModalHeader>
	<ModalBody>
		<Contact />
	</ModalBody>
	<ModalFooter>
		<Button label="Close" data-modal-close />
	</ModalFooter>
</Modal> -->

<!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet" />
<script
	src="https://assets.calendly.com/assets/external/widget.js"
	type="text/javascript"
	async></script>
<!-- <a
	href=""
	onclick="Calendly.initPopupWidget({url: 'https://calendly.com/peter-kerschbaumer/clase-de-aleman'});return false;"
	>Schedule time with me</a
> -->
<!-- Calendly link widget end -->
