@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bkg: 48, 95.8%, 53.1%;
  --txt-header: 48, 100%, 10%;
  --txt-body: 48, 100%, 20%;
  --accent1: 48, 96%, 70%;
  --accent2: 48, 96%, 89%;
  --accent3: 53, 98%, 77%;
  --level-A1: 83, 78%, 55%;
  --level-A2: 85, 85%, 35%;
  --level-B1: 188, 86%, 53%;
  --level-B2: 200, 98%, 39%;
  --level-C1: 27, 96%, 61%;
  --level-C2: 21, 90%, 48%;
  --levelA: 81, 88%, 80%;
  --levelB: 186, 94%, 82%;
  --levelC: 288, 96%, 91%;
}

.circle-sketch-highlight {
  position: relative;
}

.marker-highlight:before {
  content: "";
  background-color: cyan;
  width: 100%;
  height: 1em;
  position: absolute;
  z-index: -1;
  filter: url(#marker-shape);
  left: -0.25em;
  top: 0.1em;
  padding: 0 0.25em;
}

/* Disable horizontal scrolling globally */
/* html,
body {
  overflow-x: hidden;
  touch-action: pan-y;
} */

/* @media (max-width: 768px) {
  html,
  body {
    touch-action: pan-y;
  }
} */

/* Allow gestures (swiping) on the reviews slider */
.reviews {
  touch-action: pan-y pinch-zoom;
}
