---
import Navigation from '../components/Navigation.astro';
import { Icon } from 'astro-icon/components';
import { Modal, ModalHeader, ModalBody, ModalFooter } from 'free-astro-components';
import pkRound from '../../public/img/pk-round.png';
import { Image } from 'astro:assets';
import '../../public/styles.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>iLang</title>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body
		class="mx-auto flex min-h-screen max-w-5xl flex-col justify-center overflow-x-hidden bg-bkg text-txt-body"
	>
		<Navigation />
		<main class="relative mx-[2%] flex-grow overflow-x-hidden">
			<slot />
			<div
				class="whatsapp fixed bottom-5 right-1 z-20 size-16 drop-shadow-[10px_10px_10px_rgba(202,138,4,0.5)] sm:hidden"
			>
				<a href="https://wa.me/34673721006">
					<Icon name="whatsapp" class="size-16" />
				</a>
			</div>
		</main>

		<footer class="relative w-full text-center">
			<small>Copyright © <span id="copyrightYear"></span> iLang</small>
		</footer>
	</body>
	<script>
		document.querySelector('#copyrightYear')!.textContent = new Date()
			.getFullYear()
			.toString();
	</script>
</html>

<Modal id="modal-contact" class="custom-modal">
	<ModalHeader class="bg-accent1">
		<div class="grid size-auto grid-cols-[80px_1fr]">
			<Image
				src={pkRound}
				alt="Peter Kerschbaumer"
				loading="lazy"
				decoding="async"
				class="size-20"
			/>
			<h4 class="self-center pl-4 text-4xl font-semibold">¡Contáctame!</h4>
		</div>
	</ModalHeader>
	<ModalBody class="bg-accent2">
		<!-- <Icon name="whatsapp" size="2.5rem" class="text-muted shrink-0" /> -->
		<p><span class="font-bold">WhatsApp:</span> +34 673721006</p>
		<p>
			<span class="font-bold">Correo:</span>
			<a href="mailto:peter+il@kerschbaumer.es" class="text-blue-500 underline"
				>peter+ilang@kerschbaumer.es</a
			>
		</p>
	</ModalBody>
</Modal>
